@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
    display: none !important; 
}

.dashboard-link {
    @apply bg-gray-100 hover:bg-gray-200 text-center py-4 rounded-xl font-semibold;
}